@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-row-gap: 60px;
    grid-column-gap: 100px;
    width: 920px;
    margin: 0 auto;
    text-align: center;
}