@import url(./__description/cards__description.css);
@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);

.cards {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fill, 240px);
  row-gap: 60px;
  grid-column-gap: 100px;
  width: 90%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  list-style: none;
  padding: 48px 0 0;
  -webkit-column-gap: 100px;
}
