@import url(../../rotation/rotation.css);

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;
  top: 64px;
  overflow: hidden;
  transform: rotate(-15deg);
  animation: rotation-square 20s linear infinite;
}

@media (max-width: 600px) {
  .header__square-pic {
    width: 400px;
    height: 400px;
    top: 140px;
  }
}
