.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer__column_content_copyright {
    flex-direction: initial;
    align-items: center;
    margin-top: 50px;
    order: 3;
  }
}

@media (max-width: 450px) {
  .footer__column_content_copyright {
    flex-direction: column;
  }
}
