@import url(../section-subtitle/section-subtitle.css);
@import url(../section-title/section-title.css);
@import url(../table/table.css);

.digits {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 100px 0;
}
