.section-title {
  text-align: center;
  line-height: calc(47px + 31 * (100vw / 1600));
  font-size: calc(38px + 22 * (100vw / 1600));
  font-weight: bold;
  margin: 0 auto;
  width: 60%;
  position: relative;
  transition: all 1s;
}
