@import url(./__iframe/video__iframe.css);
@import url(./__iframe-item/video__iframe-item.css);
@import url(./__iframes/video__iframes.css);

.video {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-top: 100px;
}
