@import url(./__logo-position/header__logo-position.css);
@import url(./__link/header__link.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./__subtitle-position/header__subtitle-position.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__title-position/header__title-position.css);
@import url(./__title/header__title.css);
@import url(../logo/logo.css);

.header {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2f2;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
