@import url(./__link/header__link.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__title/header__title.css);
@import url(../logo/logo.css);
.header {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2f2;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 20px;
}