@import url(./__triangle/kaufman__triangle.css);
@import url(../table/_theme/_dark/table_theme_dark.css);
@import url(../table/__cell/_theme/_dark/table__cell_theme_dark.css);

.kaufman {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #1F1F1F;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}
