@import url(../two-columns/two-columns.css);

.oakley {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-top: 160px;
  background-color: #F2F2f2;
}
