@import url(./__cell/table__cell.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);

.table {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: space-between;
  align-content: space-between;
  list-style: none;
  padding: 0;
  width: 90%;
}

@media (max-width: 1280px) {
  .table {
    grid-template-columns: repeat(2, 250px);
    width: 550px;
  }
}

@media (max-width: 800px) {
  .table {
    grid-template-columns: repeat(1, 250px);
    width: 90%;
    justify-content: center;
  }
}
