.resources__logo-zone {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 270px);
  margin: 80px auto 0;
  list-style: none;
  padding: 0;
}

@media (max-width: 1280px) {
  .resources__logo-zone {
    grid-template-columns: repeat(2, 270px);
    row-gap: 20px;
    grid-column-gap: 20px;
  }
}

@media (max-width: 680px) {
  .resources__logo-zone {
    grid-template-columns: repeat(1, 270px);
  }
}
