@import url(../../rotation/rotation.css);
.kaufman__triangle {
    background-image: url(./triangle.svg);
    background-size: cover;
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: 0;
    animation: rotation-triangle 20s linear infinite;
}