@import url('__title/feinman__title.css');
@import url('__subtitle/feinman__subtitle.css');
@import url('__link/feinman__link.css');

.feinman {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  min-height: 790px;
  /*background-color:  #f2f2f2;*/
  display: flex;
  flex-direction: column;
  background-image: url('./__img/feinman.png');
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 80px;
  opacity: 1;
  transition: background-color 1s;
}

.feinman::before {
  content: '';
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

@media (max-width: 1280px) {
  .feinman::before {
    opacity: 0.2;
  }
}
