.header__title {
  max-width: 650px;
  position: relative;

  /*line-height: calc((100vw - 320px) / (1440 - 320) * (96 - 60) + 60px);*/
  /*font-size: calc((100vw - 320px) / (1440 - 320) * (102 - 60) + 60px);*/



  line-height: calc(42px + 54 * (100vw / 1600));
  font-size: calc(42px + 60 * (100vw / 1600));
  font-weight: bold;
  margin-top: 170px;
}

@media (max-width: 800px) {
  .header__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
