.header__title {
    z-index: 2;
    max-width: 730px;
    margin-left: 64px;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}