.header__main-illustration {
  width: calc(765 / 1440 * 100vw);
  max-width: 765px;
  height: auto;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 800px) {
  .header__main-illustration {
    display: none;
  }
}
