.khan__book-container {
    margin-top: 68px;
    display: flex;
}

@media (max-width: 800px) {
  .khan__book-container {
    margin-top: 38px;
  }
}

@media (max-width: 600px) {
  .khan__book-container {
    flex-direction: column;
  }
}
